body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.justify {
  align-items: center;
  justify-content: space-between;
}

input, li {
  margin: auto 10px;
  color: white;
}

label {
  color: white;
  display: grid;
}

label input {
  margin: 5px auto;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button, input, li {
  cursor: pointer;
}

.sort-container {
  margin: auto;
  display: flex;
  transform: scale(-1);
  transform: scaleY(-1);
  justify-content: center;
}